.wrapper {
    padding-left: 24px;
    padding-right: 24px;
}
.video-post-wrapper {
    max-width: 46rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #F6FBFE;
}
.video-post-wrapper iframe {
    width: 100%;
    height: 200px
}
.video-post-headline {
    font-size: 21px;
}
.video-meta {
    display: flex;
    font-size: 13px;
}
.video-contributor-name {
    padding-right: 16px;
    margin-right: 16px;
    border-right: 1px solid rgb(59, 113, 137);
}

@media only screen and (min-width: 768px) {
    .wrapper {
        padding-left: 48px;
        padding-right: 48px;
    }
    .video-post-wrapper iframe {
        height: 350px
    }
    .video-post-wrapper {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .video-post-headline {
        font-size: 28px;
    }
}