.page-links__list {
    display: none;
}
.intro-video-fig {
    width: 100%;
    height: 200px;
}
.intro-video-fig iframe {
    width: 100%;
    height: 100%;
}
.mission-blockquote {
    font-size: 22px;
}
.mission-blockquote {
    border-left: 5px solid #1887DB;
}
.mission-blockquote p, .mission-blockquote h2 {
    padding-left: 20px !important;
}
.mission-blockquote-heading {
    font-size: 14px;
}
.mission-explanation {
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: -.75px;
    color: #1887DB;
}
.team .gatsby-image-wrapper{
    height: 450px;
    width: 100%;
    border-radius: 5px;
}
.team h5 {
    font-size: 24px;
}

@media only screen and (min-width: 768px) {
    .intro-video-fig {
        height: 400px;
    }
    .mission-blockquote {
        font-size: 24px;
    }
    .mission-blockquote-heading {
        font-size: 18px;
    }
    .main-mission-container {
        display: flex;
        justify-content: space-between;
    }
    .main-mission-text {
        flex-basis: 45%;
        font-size: 20px;
    }
    .main-mission-text h5 {
        font-size: 20px;
    }
    .team-item {
        display: flex;
        justify-content: space-between;
    }
    .team-item-child {
        flex-basis: 48%;
    }
    .team-item-text {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .team-text {
        align-items: center;
    }
    .join-team-text p {
        font-size: 18px;
    }
}

@media only screen and (min-width: 1200px) {
    .about-page-container {
        display: flex;
        justify-content: space-between;
    }
    .page-links__list {
        display: block;
        list-style-type: none;
    }
    .sidebar {
        flex-basis: 30%;
        display: block;
        position: sticky;
        top: 50px;
        width: 100%;
    }
    .page_item {
        padding: 25px 30px 25px 0;
        border-bottom: 1px solid #cee9fa;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 16px;
        color: #094067;
    }
    .about-main {
        flex-basis: 60%;
    }
}