.archive-section {
    background: #094067;
    height: auto;
}
.hero_wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
}
.archive-hero-img {
    margin-bottom: 0 !important;
    width: 125px;
}
p {
    margin-bottom: 2rem;
}