.section_wrapper {
    background: #094067;
    text-align: center;
    color: #fff;
}
.donate-cta {
    padding-top: 60px;
    padding-bottom: 60px;
}
h2 {
    font-size: 2.125rem;
    font-family: 'Arno';
}
p {
    margin-bottom: 18px;
    line-height: 1.5;
}
.cta-btn {
    padding: 12px 12px 12px 18px;
    background-color: #fff;
    border-radius: 100px;
    text-decoration: none;
    color: #094067;
    font-weight: 700;
}
.fa-arrow-right {
    color: #3DA9FC;
}