.footer_wrapper {
    margin: 0 auto;
    padding: 60px 0;
}
.footer_heading {
    margin-bottom: 2rem;
    font-size: 1.225rem;
    line-height: 1.4;
    color: #094067;
}
.sub_contain {
    margin-bottom: 2rem;
}
.input_contain {
    margin-bottom: 2rem;
    position: relative;
}
.input_contain label {
    font-size: .875rem;
    letter-spacing: 1.2px;
}
.footer_input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 12px 12px 12px 40px;
    font-size: 16px;
    color: inherit;
    font-weight: 400;
    font-family: aktiv-grotesk,sans-serif;
    line-height: 1.65;
    background: #d8d8d8;
    width: 100%;
    border-radius: 5px;
    border: 1px solid transparent;
}
.footer_btn {
    width: 100%;
    font-weight: 700;
    line-height: 1.4;
    padding: .875rem 2rem;
    font-size: 1rem;
    text-align: center;
    background: #3DA9FC;
    color: #fff;
    letter-spacing: .02em;
    border: none;
}
.footer_wrapper ul {
    list-style: none;
    display: inline-flex;
    justify-content: center;
    width: 100%;
}
.footer_wrapper li {
    margin-left: .75rem;
    margin-right: .75rem;
    
}
.footer_wrapper dt {
    
}
.footer_wrapper dl {
    text-align: center;
}
.footer_wrapper dd {
    font-style: italic;
    font-size: .725rem;
    line-height: 1.8;
    color: #5F6C7B;
}
.main-nav-container {
    padding: 30px 0;
}
.main-nav-container a {
    text-decoration: none;
    color: #3DA9FC;
}
.footer-legal-link {
    font-size: .875rem;
    text-decoration: underline;
}
.footer-rights {
    font-size: .875rem;
    margin-left: auto;
}
.email-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    height: 20px;
    width: 20px;
    color: var(--c-spot);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
