.footer_wrapper {
    margin: 0 auto;
}
.footer_heading {
    margin-bottom: 2rem;
}
.sub_contain {
    margin-bottom: 2rem;
}
.input_contain {
    margin-bottom: 2rem;
}
.footer_input {
    border: 0;
    border-bottom: 2px;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-color: #1887DB;
    border-style: solid;
    background-color: transparent;
    padding: .5rem 1rem;
    color: #111;
    height: 3em;
    width: 100%;
}
.footer_btn {
    width: 100%;
    font-weight: 700;
    line-height: 1.4;
    padding: 1.5rem 2rem;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    letter-spacing: .02em;
    border: none;
}
.footer_wrapper ul {
    list-style: none;
    display: inline-flex;
    justify-content: center;
    width: 100%;
}
.footer_wrapper li {
    margin-left: .75rem;
    margin-right: .75rem;
    color: #3da9fc;
}
.footer_wrapper dt {
    color: #3da9fc;
}
.footer_wrapper dl {
    text-align: center;
}
.footer_wrapper dd {
    font-style: italic;
}