section {
    background: #aaa;
    height: auto;
}
.hero_wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
}
.hero-btn {
    padding: 12px 12px 12px 18px;
    background-color: #fff;
    border-radius: 100px;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    margin-top: .5rem ;
    display: inline-block;
}
p {
    margin-bottom: 2rem;
}