.video-prev-contain {
    flex-basis: 48%;
}
.video-thumbnail {
    height: 100px;
    border-radius: 5px;
}
.video-header {
    font-size: 16px;
}
.video-header a {
    color: #094067;
}

@media only screen and (min-width: 768px) {
    .video-prev-contain {
        flex-basis: 24%;
    }
}
@media only screen and (min-width: 1024px) {
    .video-thumbnail {
        min-height: 175px;
    }
    .video-header {
        font-size: 18px;
    }
}