.contributor-widget-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contributor-widget-item {
    flex-basis: 48%;
}
.contributor-widget-img {
    border-radius: 999px;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}
.contributor-widget-item h1 {
    font-size: 1rem;
    color: #094067;
}

@media only screen and (min-width: 768px) {
    .contributor-widget-item {
        flex-basis: 32%;
    }
    .contributor-widget-img {
        width: 200px;
        height: 200px;
    }
    
}

@media only screen and (min-width: 1200px) {
    .contributor-widget-item {
        flex-basis: 15%;
    }
    .contributor-widget-img {
        width: 175px;
        height: 175px;
    }
}