.hero-btn {
    padding: 12px 12px 12px 18px !important;
    background-color: #000 !important;
    border-radius: 100px;
    text-decoration: none;
    color: #fff !important;
    font-weight: 700;
    margin-top: .5rem ;
    display: inline-block;
}