.videos-wrapper {
    margin-top: 4rem;
}
.video-item {
    flex-basis: 48%;
    list-style-type: none;
}
@media only screen and (min-width: 768px) {
    .video-item {
        flex-basis: 24%;
    }
}